@media only screen and (min-width: 64em) {

    /*-------THE GALLERY PAGE--------*/
    .grid-item:hover {
        box-shadow: 5px 5px 10px #272391;
    }

    .gallery_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*------The Index Page-------*/
    #townStats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /*-----Cities Pages------*/
    #forecastTable {
        border-collapse: collapse; 
        border: 3px solid #272391; 
        margin-left: 44%;
        margin-right: 44%;
    }
    
    #forecastTable thead,tbody {
        padding: 10px
    }
}
