@media only screen and (min-width: 37.5em) {

    /* hamburger button does not need to be shown */
    nav button {
        display: none;
    }

    .icon {
        display: none;
    }

    nav {
        display: block;
    }
    /* show the 10-day forecast with the medium view and up */
    section.forecast {
        display: block;
    }

    /* Add a black background color to the top navigation */
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #c7a82c;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .active {
        background-color: #272391;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }

    /*-------THE GALLERY PAGE--------*/
    .gallery_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .forecast {
        display: block;
    }


    /*------Index Page-------*/
    #townStats {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #picStory { 
        display: flex; 
        flex-direction: row; 
    }
}
