@media only screen and (min-width: 37.5em) {

    /* main menu - menu button doesn't need to be seen */
    .hamburger {
        display: none;
    }

    /*
    nav ul {
        flex-direction: row; 
    }
*/
    .navigation:not(.responsive) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.5em;
    }

    .navigation.responsive {
        flex-direction: row;
        justify-content: space-around;
    }

    /* HOME PAGE */
    .mainArticle {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .allHomeServices {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* TOURS PAGE */
    .dailyTours {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* EVENTS PAGE */
    .priceGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5%;
    }

    #mapImage {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    /* CONTACT US PAGE */
    #googleMap {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
    }

}
